# Virtual environment
venv/
.env
*.env

# Python cache & compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Build & packaging
build/
dist/
*.egg-info/

# VS Code settings
.vscode/

# Logs
*.log

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db
